<form (ngSubmit)="saveTeam()" [formGroup]="teamForm">
    <h1>
        Create a team
    </h1>
    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="teamForm.get('name').errors">
            Team Name is required
        </div>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit" [disabled]="teamForm.invalid">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
    
</form>

