<div class="title">
    {{title}}
</div>
    
<div class="container" style="display: flex; flex-direction: column;">
    <project-details *ngFor="let project of projectsList; let index = index" [item]="project" [index]='index' (itemSelected)="projectSelected($event)">
    
    </project-details>
    
        <!--<book-details [item]="book" [(bookTitle)]="book.title" titleColor="red">
    
        </book-details>-->
</div>
    