<div class="task">
    <div class="task-name-block" (click)="taskSelected()">
        <span class="task-name">{{item.name}}</span>
        <p *ngIf="project != null || project != underfinded"> For project: </p>
        <p *ngIf="project != null || project != underfinded"> {{ project.name }} </p>
    </div>
    <div class="task-details">{{item.description}}</div>
    <div class="task-state" state>{{state}}</div>
    <div class="dates-block">
        <div class="task-created-at">{{item.created_at | datePipe}}</div>
        <div class="task-finished-at">{{item?.finished_at | datePipe}}</div>
    </div>
    <div class="nav-icons">
        <i class="material-icons" (click)="deleteTask()">delete</i>
    </div>
    <!-- <div class="task-project">{{ getProject() }}</div>
    <div class="task-performer">{{ getPerformer() }}</div> -->
</div>
