<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateUser"> Show </span>
    <span [hidden]="hideCreateUser"> Hide </span>
    edit
</button>
<p>Click on item`s title to update it</p>
            
<app-user-create [hidden]="hideCreateUser" [user]="selectedUser" (userChange)="save($event)">
            
 </app-user-create>
            
<users-list [users]="users" (itemSelected)="select($event)">
            
</users-list>

