<div class="project">
    <div class="project-name-block" (click)="projectSelected()">
        <span class="project-name">{{item.name}}</span>
    </div>
    <div class="project-details">{{item.description}}</div>
    <div class="dates-block">
        <div class="project-created-at">Created at: {{item.created_at | datePipe}}</div>
        <div class="project-deadline">Deadline: {{item.deadline | datePipe}}</div>
    </div>
    <div class="nav-icons">
        <i class="material-icons" (click)="deleteProject()">delete</i>
    </div>
    <!-- <div class="project-author">{{ getAuthor() }}</div>
    <div class="project-author">{{ getTeam() }}</div> -->
</div>