<form (ngSubmit)="saveTask()" [formGroup]="taskForm">
        <h1>
            Create a task
        </h1>
        <div class="group">
            <input type="text" formControlName="name" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
            <div class="custom-error required-error" [ngClass]="taskForm.get('name').errors">
                Name is required
            </div>
        </div>
    
        <div class="group">
            <input type="text" formControlName="description" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Description</label>
            <div class="custom-error required-error" [ngClass]="taskForm.get('description').errors">
                Description is required
            </div>
            <div class="custom-error maxlength-error" [ngClass]="taskForm.get('description')?.errors">
                Max length is 250 symbols
            </div>
        </div>
    
        <div class="group">
            <select formControlName="state">
                <option [ngValue]="0">Created</option>
                <option [ngValue]="1">Started</option>
                <option [ngValue]="2">Finished</option>
                <option [ngValue]="3">Canceled</option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>State</label>
            <div class="custom-error required-error" [ngClass]="taskForm.get('state').errors">
                State is required
            </div> 
        </div>
    
        <div class="group">
            <input type="text" formControlName="project_id" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Project Id</label>
            <div class="custom-error required-error" [ngClass]="taskForm.get('project_id').errors">
                Project Id is required
            </div> 
            <div class="custom-error team-not-exist-error" [ngClass]="taskForm.get('project_id')?.errors">
                Project Id is required
            </div> 
        </div>
    
        <div class="group">
            <input type="text" formControlName="performer_id" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Performer Id</label>
            <div class="custom-error required-error" [ngClass]="taskForm.get('performer_id').errors">
                Performer Id is required
            </div> 
            <div class="custom-error team-not-exist-error" [ngClass]="taskForm.get('performer_id')?.errors">
                Performer Id is required
            </div> 
        </div>
    
        <div class="btn-box">
            <button class="btn btn-submit" type="submit" [disabled]="taskForm.invalid">submit</button>
            <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
        </div>
    
    </form>
