<div class="team">
    <div class="team-name-block" (click)="teamSelected()">
        <span class="team-name">{{item.name}}</span>
        <p *ngIf="users.length != 0">Users: </p>
        <p *ngFor='let user of users'> {{user}} </p>
    </div>
    <div class="dates-block">
        <div class="team-created-at">Created at: {{ item.created_at | datePipe}}</div>
    </div>
    <div class="nav-icons">
        <i class="material-icons" (click)="deleteTeam()">delete</i>
    </div>
</div>
