<div class="title">
    {{title}}
</div>
            
<div style="display: flex; flex-direction: column;">
    <team-details *ngFor="let team of teamsList; let index = index" [item]="team" [index]='index' (itemSelected)="teamSelected($event)">
            
    </team-details>
</div>
