<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateTeam"> Show </span>
    <span [hidden]="hideCreateTeam"> Hide </span>
    edit
</button>
<p>Click on item`s title to update it</p>
            
<app-team-create [hidden]="hideCreateTeam" [team]="selectedTeam" (teamChange)="save($event)">
            
 </app-team-create>
            
<teams-list [teams]="teams" (itemSelected)="select($event)">
            
</teams-list>
