<div class="user">
    <div class="user-name-block" (click)="userSelected()">
        <span class="user-title">{{item.first_name}} {{item.last_name}}</span>
    </div>
    <div class="user-email">{{item.email}}</div>
    <div class="dates-block">
        <div class="user-registered-at">Registered at: {{item.registered_at | datePipe}}</div>
        <div class="user-birthday">Birthday: {{item.birthday | datePipe}}</div>
    </div>
    <div class="nav-icons">
        <i class="material-icons" (click)="deleteUser()">delete</i>
    </div>
</div>

