.user{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid lightseagreen;
    border-radius: .7rem;
    margin-bottom: .5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: lightcyan;
}


.user-name-block{
    font: 1.5rem bold;
    cursor: pointer;
}

.dates-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .7rem;
}

.nav-icons i{
    display: block;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
