<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateProject"> Show </span>
    <span [hidden]="hideCreateProject"> Hide </span>
    edit
</button>
<p>Click on item`s title to update it</p>

<app-project-create [hidden]="hideCreateProject" [project]="selectedProject" (projectChange)="save($event)">
    
</app-project-create>
    
<projects-list [projects]="projects" (itemSelected)="select($event)">
    
</projects-list>
