<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateTask"> Show </span>
    <span [hidden]="hideCreateTask"> Hide </span>
    edit
</button>
<p>Click on item`s title to update it</p>
       
<app-task-create [hidden]="hideCreateTask" [task]="selectedTask" (taskChange)="save($event)">
        
</app-task-create>
        
<tasks-list [tasks]="tasks" (itemSelected)="select($event)">
        
</tasks-list>
